body{
    background-color: rgb(37, 49, 61);
    height: 100%;
    overflow: hidden; /* Hide scrollbars */
}

*{
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.structure_table{
    height: 100%; 
    left: 0; 
    position: absolute; 
    text-align: center; 
    width: 100%;
    
}

.bg_section{
    text-align: left; 
    display: inline-block; 
    border: 1px solid black;
    width: 104em;
    height: 48em;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    -webkit-box-shadow: 0px 0px 73px 24px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 73px 24px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 73px 24px rgba(0, 0, 0, 1);

    filter: brightness(0.9);
    
}

.default_section{
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 87%;
  height: 83%;

  padding: 20px;
  text-align: center;
  backdrop-filter: blur(10px);
  
}

.page_name{
    margin-left: 40px;
    font-size: 32px;
    text-align: left;
}

fieldset{
    width: 98em;
    height: 40em;
    /* position: absolute; */
}

legend{
    position: relative;
    z-index: 2;
}


a{
    text-decoration: none;
    color: #ffffff;
    transition: all .2s ease-in-out;
}

a:hover{ 
    transform: scale(1.1); 
    transition: all .1.5s ease-in-out;
    color: lightsteelblue;
}

.text a:hover{
    transform: scale(1.3); 
    transition: all .1s ease-in-out;
    color: rgb(107, 171, 255);
}

.photo{
    height: 565px; 
    border: 2px solid rgb(158, 158, 158);
}

.text{
    margin-left: 25px;
    height: 565px;
    width: 600px;
    border: 2px solid rgb(158, 158, 158);
    padding: 10px;
    background: rgba(225, 225, 225, .2)
}

.text_title{
    font-size: xx-large;
}

.p_text{
    font-size: large;
    margin: 10px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.kafelek{
    width: 120px;
    height: 150px;
    background-color: rgb(0,0,0, .5);
    text-align: center;
    border-radius: 5%;
}

.kafelek_photo{
    width: 90px;
    height: 90px;
    background-color: blue;
    margin-top:10px;
    text-align: center;
    border-radius: 50%;
}

.admin_table{
    vertical-align: middle;
    /* background-color:pink; */
    column-gap: 3em;
    border-spacing: 50px 8px;
    margin: auto;
    font-size: 12pt;
}

.owner{
    color: #1aff1a;
}

.head_admin{
    color: #e20000;
}

.developer{
    color: #ec7f16;
}

.senior_admin{
    color: #ff1e1e;
}

.administrator{
    color: #ff4848;
}

.junior_admin{
    color: #ff6c6c;
}

.trial_admin{
    color: #ffa6a6;
}

.senior_mod{
    color: #007fff;
}

.moderator{
    color: #24a5ff;
}

.junior_mod{
    color: #43caff;
}

.trial_mod{
    color: #97d6ff;
}

.duzy_kafel{
    width: 240px;
    height: 300px;
}

.authors{
    vertical-align: middle;
    border-spacing: 30px 8px;
    margin: auto;
    font-size: 24pt;
}

.duzy_kafel_photo{
    width: 180px;
    height: 180px;
}

.author1{
    color:rgb(6, 255, 27)
}

.author2{
    color:rgb(255, 160, 247)
}

.blok_g{
    display: inline-block; 
    line-height: 1;
}

.fieldset{
    border: 2px solid rgb(158, 158, 158); 
    margin: 1em auto;
}

.legenda{
    width: 90%; 
    padding: 0;
}

.tytul{
    float: left; 
    padding: 0 20px; 
    font-size: 32pt;
}

.line1{
    float: left; 
    height: 2px; 
    background-color: rgb(158, 158, 158); 
    margin-top: 1.4rem;
}

.line2{
    float: left; 
    height: 2px; 
    background-color: rgb(158, 158, 158); 
    width: 4rem;  
    margin-top: 1.4rem;
}

.line3{
    float: left; 
    height: 2px; 
    background-color: rgb(158, 158, 158); 
    width: 4rem;  
    margin-top: 1.4rem;
}

.href_dzik{
    float: left; 
    padding: 0 5px; 
    margin-top: 12px; 
    font-size: 16pt;
}

.href_fiveways{
    float: left; 
    padding: 0 5px; 
    margin-top: 12px; 
    font-size: 16pt;
}

.href_tworcy{
    float: left; 
    padding: 0 5px; 
    margin-top: 12px; 
    font-size: 16pt;
}

.text_left{
    text-align:left;
}
@media all and (min-width:480px) and (max-width:2560px){
    
.blok{
    width:100%;
    height:100%;
}
}
